body {
    background-color:cornflowerblue;
}

h1 {
    color: blanchedalmond;
}

#user_name, #roomName{
    width: 50%;
}

#RoomList{
    background-color: aliceblue;
    width: 80%;
}

#userName{
    color: darkslategrey;
}